<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Counter</title>
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;600;800&display=swap" rel="stylesheet">
    <meta name="theme-color" content="#6200ff" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#161616" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="/static/css/base.css">
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-scrollbar@latest/simple-scrollbar.css">
</head>
<body>
    <div class="container">
        <section class="header">
            {% block head %}{% endblock %}
        </section>
        <section class="body">
            {% block body %}{% endblock %}
        </section>
        <section class="footer">
            <a class="link" href="https://github.com/btlesss/web-counter">Sources</a>
            <a class="link" href="https://t.me/btless">Author</a>
            <a class="link" href="/api/docs">API</a>
        </section>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/simple-scrollbar@latest/simple-scrollbar.min.js"></script>
{% block scripts %}{% endblock %}
</html>