{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="/static/css/group.css">
{% endblock %}
{% block head %}
<a>{{ group.name }}</a>
{% endblock %}
{% block body %}
<div ss-container>
    <table id="tbl">
        <thead>
            <tr>
                <th></th>
                <th>Total</th>
                <th>7d</th>
                <th>24h</th>
            </tr>
        </thead>
        <tbody id="urls">
            {% for el in group.counters %}
            <tr onclick="document.location = '/count/{{ el.id }}'">
                <th>{{ el.name }}</th>
                <td>{{ el.value | pretty }}</td>
                <td>{{ el.timings.per7d | pretty }}</td>
                <td>{{ el.timings.per24h | pretty }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block scripts %}
<script>
    const getCellValue = (tr, idx) => tr.children[idx].innerText;
    const comparer = (idx, asc) => (a, b) => ((v1, v2) => 
        v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
        )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));
    
    const tbl=document.querySelector("#tbl");
    tbl.querySelectorAll('thead th').forEach(th => th.addEventListener('click', (() => {
        const tbody = tbl.querySelector('tbody');
        Array.from(tbody.querySelectorAll('tr'))
            .sort(comparer(Array.from(th.parentNode.children).indexOf(th), th.asc = !th.asc))
            .forEach(tr => tbody.appendChild(tr));
    })));
</script>
{% endblock %}